@using System
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("metaDescription",false)
    @RenderSection("metaKeywords",false)
    <title>@ViewBag.Title -Safety Consult Engineering</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("yandexMap",false)
</head>
<body>
<div class="templatemo-container">
    <div class="col-lg-3 col-md-3 black-bg left-container">
        <div class="menu-mobile">
            <a id="menu-toggle" aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
        </div>
        <div class="tm-left-inner-container">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="@Url.Action("Index", "Home")">
                        <img class="img-responsive" src="/Content/images/logo1.png">
                    </a>
                    <hr/>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Home")">Главная </a>
                </li>
                <li class="li-ul">
                    <a href="#" class="toggle-ul">Услуги</a>
                    <ul class="sidebar-nav">
                        <li>
                            <a href="@Url.Action("Outsourcing", "Home")">Аутсорсинг </a>
                        </li>
                        <li>
                            <a href="@Url.Action("SafetyEngineering", "Home")">Охрна труда под ключ</a>
                        </li>
                        <li>
                            <a href="@Url.Action("SOUT", "Home")">СУОТ </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Сounseling", "Home")">Консультирование </a>
                        </li>
                    </ul>
                </li>
                <li class="li-ul">
                    <a href="#" class="toggle-ul">Проектирование</a>
                    <ul class="sidebar-nav">
                        <li>
                            <a href="@Url.Action("PPR", "Home")">ППР </a>
                        </li>
                        <li>
                            <a href="@Url.Action("KD", "Home")">КД, КМД</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("Video","Home")">Видеоматериал</a>
                </li>
                                @*
        <li>
            <a href="@Url.Action("Index","Forum")">Форум</a>
        </li>
                                *@
                <li>
                    <a href="@Url.Action("Contact","Home")">Контакты</a>
                    <hr class="tophr"/>
                </li>
            </ul>
            <!--Footer menu-->
            <div class="footer-menu">
                @*<div class="contacts">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label>Адрес:</label> 
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <a>ул.Скрыганова, 4Б-107,  220073, г.Минск</a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                   <label>VELCOM:</label> 
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <a href="tel:+375293807271">+375 29 380 72 71</a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label>МТС:</label>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <a href="tel:+375336672800">+375 33 667 28 00</a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label>факс:</label>              
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <a href="tel:3945268"> 3945268</a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label>e-mail:</label> 
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <a>scengby@gmail.by</a>
                </div>
                    </div>*@
                <div class="soc">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <a class="circle" target="_blank" href="https://www.facebook.com/groups/307583859603415/?ref=bookmarks">
                            <i class="fa fa-facebook" aria-hidden="true" ></i>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <a class="circle" target="_blank" href="https://vk.com/public128358401">
                            <i class="fa fa-vk" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <a class="circle" target="_blank" href="https://ok.ru/group/52963403169924">
                            <i class="fa fa-odnoklassniki" aria-hidden="true" ></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- left section -->
    <div class="col-lg-9 col-md-9 white-bg right-container">
        <div class="tm-right-inner-container">
            <div class="content">
            @RenderBody()
                </div>
            <footer>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 templatemo-copyright">
                    &copy; 2016 safety consulting engineering,
                    ИП Крукович П.С., УНП 192697085
                </div>
            </footer>
        </div>
    </div> <!-- right section -->
</div>	    
    @Html.Partial("_SendMailPopup")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common")
    @RenderSection("scripts", required: false)
</body>
</html>
