@using System
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div class="templatemo-container">
    <div class="col-lg-3 col-md-3 black-bg left-container">
        <div class="menu-mobile">
            <a id="menu-toggle" aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" type="button"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
        </div>
        <div class="tm-left-inner-container">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="@Url.Action("Index", "Home")">
                        <img class="img-responsive" src="/Content/images/logo.png">
                    </a>
                    <hr/>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Home")">Главная </a>
                </li>
                <li>
                    <a href="@Url.Action("Outsourcing", "Home")">Аутсортинг </a>
                </li>
                <li>
                    <a href="@Url.Action("Services","Home")">Услуги</a>
                </li>
                <li>
                    <a href="@Url.Action("Video","Home")">Видеоматериал</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Forum")">Форум</a>
                </li>
                <li>
                    <a href="@Url.Action("Contact","Home")">Контакты</a>
                </li>
            </ul>
            <!--Footer menu-->
            <div class="footer-menu">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a class="circle">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a class="circle">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a class="circle">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div> <!-- left section -->
    <div class="col-lg-9 col-md-9 white-bg right-container">
        <div class="tm-right-inner-container">
            @RenderBody()
            <div class="pre-footer"></div>
            <footer>
                <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12 templatemo-copyright">Copyright &copy; 2084 Your Company Name <!-- Credit: www.templatemo.com --></p>
            </footer>
        </div>
    </div> <!-- right section -->
</div>	    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common")
    @RenderSection("scripts", required: false)
</body>
</html>
