@using System
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="@Url.Action("Index", "Home")">
                        <img class="img-responsive" src="/Content/images/logo.png">
                    </a>
                    <hr/>
                </li>
                <li>
                    <a href="#">Dashboard </a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li class="bottom-brand">
                    <a href="#">Contact</a>
                    <hr/>
                </li>
            </ul>
            <!--Footer menu-->
            <div class="container footer-menu">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a class="circle">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a class="circle">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a class="circle">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row menu-mobile">
                    <a href="#menu-toggle" id="menu-toggle" aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" type="button"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
                </div>
            </div>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common")
    @RenderSection("scripts", required: false)
    <!-- Menu Toggle Script -->
    
</body>
</html>
